.theme-default-content:not(.custom) {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}

img {
  border-radius: 8px;
}


// showing default values
// 控制全局的属性
// $accentColor = #3eaf7c
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = #282c34

// 控制某个页面的属性, 在对应的ai.md前面
// 添加: 
// ---
// pageClass: ai-class
// ---
// .theme-container.linux-class {
//     h1 {
//         color #00BB55
//     }
//     h2 {
//         color #00BB55
//     }
//     h3 {
//         color #00BB55
//     }
//     h4 {
//         color #00BB55
//     }
// }

// .theme-container.python-class {
//     h1 {
//         color #F06292
//     }
//     h2 {
//         color #F06292
//     }
//     h3 {
//         color #F06292
//     }
//     h4 {
//         color #F06292
//     }
// }

// .theme-container.ml-class {
//     h1 {
//         color #E17E11
//     }
//     h2 {
//         color #E17E11
//     }
//     h3 {
//         color #E17E11
//     }
//     h4 {
//         color #E17E11
//     }
// }