// showing default values
// 控制全局的属性
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

// 控制某个页面的属性, 在对应的ai.md前面
// 添加: 
// ---
// pageClass: ai-class
// ---
.theme-container.basic-class {
    h1 {
        color #7853AB
    }
    h2 {
        color #7853AB
    }
    h3 {
        color #7853AB
    }
}

.theme-container.middle-class {
    h1 {
        color #F06292
    }
    h2 {
        color #F06292
    }
    h3 {
        color #F06292
    }
}

.theme-container.high-class {
    h1 {
        color #E17E11
    }
    h2 {
        color #E17E11
    }
    h3 {
        color #E17E11
    }
}